

<div class="bg-gray-200 rounded-lg shadow-2xl p-2">
<% if local_assigns[:full] %>
    <div class="flex justify-between space-x-5">
        <div>
            <div>
                <div><%= link_to service_offer.service_offer_name, service_offer%></div> 
                <div>$<%= Money.from_cents(service_offer.service_offer_price, "CAD")%></div>
                <div><%= service_offer.slot_availabilty%> Slots</div>
            </div>
        </div>
        <div>
            <%if user_signed_in?%>
                <%= form_with model: [ service_offer, service_offer.cart_items.build ] do |form| %>
                <div class="text-center">
                    <%= form.label :quantity%><br>
                    <%= form.hidden_field :id, value: service_offer.id %>
                    <%= form.hidden_field :cart_id, value: current_user.cart.id %>
                    <%= form.hidden_field :service_offer_id, value: service_offer.id %>
                    <%= form.number_field :quantity, in: 0..service_offer.slot_availabilty, step: 1  %>
                </div>
                <div>
                    <%= form.submit "Add to Cart", class: "bg-red-500 rounded-lg"  %>
                </div>
                <% end %>
            <% else %>
                <div>Must be signed in to shop.</div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="flex items-center space-x-4">
        <% if service_offer.user.image.attached? %>
             <%= image_tag service_offer.user.image.variant(:thumb), class: "rounded-lg m-0" %>
        <% end %>
        <div>
            <%= link_to service_offer.service_offer_name, service_offer %>
        </div>
        <div>
            <%= service_offer.service_type.service_type_name%>
        </div>
        <div>
            $<%= Money.from_cents(service_offer.service_offer_price, "CAD")%>
        </div>
    </div>
<% end %>
</div>