<%= render "application/header" %>



<h2> <%= link_to @service_offer.user.user_name, @service_offer.user %>'s <%= @service_offer.service_offer_name %></h2>
<div> <%= @service_offer.service_offer_notes %> </div>

<div class="bg-gray-400 rounded-lg mx-auto p-5">
<%= render @service_offer, full: true %>
</div>

<%= render "application/footer" %>