


<div class="grid grid-cols-1 grid-flow-row gap-4 bg-gray-400 rounded-lg mx-auto p-5">
    <div><%=current_user.user_name%>'s Order from <%=link_to order_detail.created_at, order_detail%></div> 
    <%= render order_detail.order_items%>
    <% total = 0%>
    <% order_detail.order_items.each do |order_item|%>
        <%total += order_item.price_before_tax%>
    <%end%>
    <div>Total before taxes: $<%=Money.from_cents(current_user.cart.total, "CAD")%></div>
    <%pst=(total*order_detail.time_of_sale_pst)/100000%>
    <%gst=(total*order_detail.time_of_sale_gst)/100000%>
    <%hst=(total*order_detail.time_of_sale_hst)/100000%>
    <%qst=(total*order_detail.time_of_sale_qst)/100000%>

    <div><%=pst.zero? ? " " : "PST: #{Money.from_cents(pst, "CAD")}"%></div>
    <div><%=gst.zero? ? " " : "GST: #{Money.from_cents(gst, "CAD")}"%></div>
    <div><%=hst.zero? ? " " : "HST: #{Money.from_cents(hst, "CAD")}"%></div>
    <div><%=qst.zero? ? " " : "QST: #{Money.from_cents(qst, "CAD")}"%></div>

    <div>Total after taxes: <%=(Money.from_cents(total+pst+gst+hst+qst, "CAD"))%> </div>
</div>


