<header class="flex justify-evenly">
    <h1>AirDnD</h1> 
    <div class="text-center">
        <div class="flex justify-center">
            <div class="mx-2">
                <%= link_to "Providers", "/users/", class: "text-center no-underline"%>
            </div>
            <div class="mx-2">
                <%= link_to "Service Offers", "/service_offers/", class: "text-center no-underline"%>
            </div>
        </div>
        <% if local_assigns[:offer] %>
            <div class="mx-2 text-center">
                  <%= search_form_for @q do |f| %>
                      <%= f.label :service_offer_name_or_service_offer_notes_cont %> <br>
                      <%= f.search_field :service_offer_name_or_service_offer_notes_cont %>
                          
                      <%= f.label :service_type_id_eq, "Service Type" %>
                      <%= f.collection_select :service_type_id_eq, ServiceType.all, :id, :service_type_name, include_blank: true %>
  
                    <%= f.submit %>
                  <%end%>
            </div>
        <% elsif local_assigns[:provider]  %>
              <div class="mx-2 text-center">
                <%= search_form_for @q do |f| %>
                    <%= f.label :user_name_or_description_cont %> <br>
                    <%= f.search_field :user_name_or_description_cont %>
                    <%= f.submit %>
                <% end %>
            </div>
          <% end %>
    </div>
    <div>
      <div class="text-center">Welcome, <%=user_signed_in? ? current_user.user_name : "Guest"%></div>
      <div class="text-center flex space-x-4">
        <div class=" bg-gray-200 rounded-lg m-auto p-2">
          <% if user_signed_in? %>
            <div><%= link_to "Edit Accont", edit_user_registration_path %></div>
            <div><%= link_to 'Sign Out', destroy_user_session_path, data: { "turbo-method": :delete } %></div>
          <% else %>
            <div><%= link_to 'Sign In', new_user_session_path %></div>
            <div><%= link_to 'Sign Up', new_user_registration_path %></div>
          <% end %>
        </div>

          <% if user_signed_in? %>
            <div class=" bg-gray-200 rounded-lg m-auto p-2">
              <div><%=link_to "Orders", order_details_path%> / <%=link_to "Bookings", bookings_path%></div>
              <details>
                <summary><%=current_user.user_name%>'s Cart</summary>
                <div class="z-50 fixed bg-gray-200 list-outside list-none">
                  <% if current_user.cart%>
                    <% if current_user.cart.cart_items.exists?%>
                      <%= render current_user.cart.cart_items%>
                      <div>Total before taxes: $<%=Money.from_cents(current_user.cart.total, "CAD")%></div>
                      <div><%=link_to "check out!", current_user.cart %></div>
                    <%else%>
                      <div>Empty Cart!</div>
                    <%end%>
                  <%end%>
                </div>
              </details>
            </div>
          <% end%>
          
      </div>
    </div> 
</header>

<%= render "application/categories"%>

<nav>
  <ul class="breadcrumbs flex space-x-4 list-none">
    <% breadcrumbs.each do |crumb| %>
     <li>
      <% if crumb.link? %>
        <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
      <% else %>
        <span class="breadcrumb-page">
          <%= crumb.name %>
        </span>
      <% end %>

      <% unless crumb == breadcrumbs.last %>
        <span class="breadcrumb-separator">/</span>
      <% end %>
     </li>
    <% end %>
  </ul>
</nav>