<header class="flex justify-evenly">
    <h1>AirDnD</h1> 
    <div>
        <div class="flex">
            <div class="mx-2">
                <%= link_to "Providers", "/users/", class: "text-center no-underline"%>
            </div>
            <div class="mx-2">
                <%= link_to "Service Offers", "/service_offers/", class: "text-center no-underline"%>
            </div>
        </div>
        <% if local_assigns[:offer] %>
            <div class="mx-2 text-center">
                  <%= search_form_for @q do |f| %>
                      <%= f.label :service_offer_name_or_service_offer_notes_cont %>
                      <%= f.search_field :service_offer_name_or_service_offer_notes_cont %>
                          
                      <%= f.label :service_type_id_eq, "Service Type" %>
                      <%= f.collection_select :service_type_id_eq, ServiceType.all, :id, :service_type_name, include_blank: true %>
  
                    <%= f.submit %>
                  <%end%>
            </div>
        <% elsif local_assigns[:provider]  %>
              <div class="mx-2 text-center">
                <%= search_form_for @q do |f| %>
                    <%= f.label :user_name_or_description_cont %>
                    <%= f.search_field :user_name_or_description_cont %>
                    <%= f.submit %>
                <% end %>
            </div>
          <% end %>
    </div>
    <div class="text-center">
        <div class="mx-2">
            <ul class="flex">
              <% if user_signed_in? %>
                <li><%= link_to "Hi, #{current_user.user_name}", edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, data: { "turbo-method": :delete } %></li>
              <% else %>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <% end %>
            </ul>
        </div>
        <div class="mx-2">
          <% if user_signed_in? %>
            <details>
            <summary><%=current_user.user_name%>'s Cart</summary>
            <ul class="z-50 fixed bg-gray-200 list-outside list-none">
              <% if current_user.cart%>
                <% if current_user.cart.cart_items.exists?%>
                  <%= render current_user.cart.cart_items%>
                  <li>Total before taxes: $<%=Money.from_cents(current_user.cart.total, "CAD")%></li>
                <%else%>
                  <li>Empty Cart!</li>
                <%end%>
              <%end%>
            </ul>
            </details>
          <% end%>
        </div>
    </div> 
</header>

<%= render "application/categories"%>

<nav>
  <ul class="breadcrumbs flex space-x-4 list-none">
    <% breadcrumbs.each do |crumb| %>
     <li>
      <% if crumb.link? %>
        <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
      <% else %>
        <span class="breadcrumb-page">
          <%= crumb.name %>
        </span>
      <% end %>

      <% unless crumb == breadcrumbs.last %>
        <span class="breadcrumb-separator">/</span>
      <% end %>
     </li>
    <% end %>
  </ul>
</nav>