

<div class="bg-gray-200 rounded-lg shadow-2xl p-2">
<% if local_assigns[:full] %>
    <div class="flex justify-between">
        <div>
            <div>
                <span><%= link_to service_offer.service_offer_name, service_offer%></span> 
                <span>at $<%= Money.from_cents(service_offer.service_offer_price, "CAD")%> with</span>
                <span><%= service_offer.slot_availabilty%> Slots</span>
            </div>
        </div>
        <div>
            <%= form_with model: [ service_offer, service_offer.cart_items.build ] do |form| %>
            <div>
                <%= form.label :quantity%><br>
                <%= form.hidden_field :id, value: service_offer.id %>
                <%= form.hidden_field :cart_id, value: current_user.cart.id %>
                <%= form.hidden_field :service_offer_id, value: service_offer.id %>
                <%= form.number_field :quantity, in: 0..service_offer.slot_availabilty, step: 1  %>
            </div>
            <div>
                <%= form.submit  %>
            </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="flex items-center space-x-4">
        <% if service_offer.user.image.attached? %>
             <%= image_tag (url_for(service_offer.user.image)), class: "object-contain h-24 w-24 rounded-lg m-0" %>
        <% end %>
        <div>
            <%= link_to service_offer.service_offer_name, service_offer %>
        </div>
        <div>
            <%= service_offer.service_type.service_type_name%>
        </div>
        <div>
            $<%= Money.from_cents(service_offer.service_offer_price, "CAD")%>
        </div>
    </div>
<% end %>
</div>