

<div class="bg-gray-200 rounded-lg shadow-2xl p-2">
<% if local_assigns[:full] %>
    <div class="flex justify-between">
        <div>
            <div>
                <span><%= link_to service_offer.service_offer_name, service_offer%></span> 
                <span>at $<%= service_offer.service_offer_price.to_f/100%> with</span>
                <span><%= service_offer.slot_availabilty%> Slots</span>
            </div>
        </div>
        <div>
            Add to Cart <input type="number" id="quantity" name="quantity" min="0" max=<%=service_offer.slot_availabilty%> />
        </div>
    </div>
<% else %>
    <div>
        <div class="flex justify-between">
            <%= service_offer.user.user_name%>'s Profile Pic
        </div>
        <div>
            <%= link_to service_offer.service_offer_name, service_offer %>
        </div>
        <div>
            <%= service_offer.service_type.service_type_name%>
        </div>
    </div>
<% end %>
</div>