<div class="bg-gray-200 rounded-lg shadow-2xl p-2">
    <div>
        <div class="flex space-x-2">
            <div>
                <%=link_to  order_item.service_offer.service_offer_name, order_item.service_offer%> from <%=link_to order_item.user.user_name, order_item.user %>
            </div>
            <div>
                <%=link_to "Booking Reference", order_item.booking%>
            </div>
        </div>
        <div>
            <div>
                Status: <%=order_item.order_item_status.status%>
            </div>
            <div>
                Price before Taxes: $<%= Money.from_cents(order_item.price_before_tax, "CAD")%>
            </div>
        </div>
    </div>
</div>